<div class="reflex" id="reflex1">
  <h4>In Force Policies <small>Reflex 1<small></h4>

  <p>What is the total amount of all coverage in force or pending?<br>
    <input type="text" name="1-1-7" reference="currentInsValue" value="">
    <!-- ranged value -->
  </p>
  <p>Is the coverage being applied for intended to replace or change any existing life insurance or annuity contract?<br>
    <input type="radio" name="1-1-8" reference="replacementInsExists" value="yes">
    <label>Yes</label>
    <!-- Next question -->
    <input type="radio" name="1-1-8" reference="replacementInsExists" value="no">
    <label>No</label>
    <!-- Stop -->
  </p>
  <p>What amount is being replaced?<br>
    <input type="text" name="1-1-9" reference="replacementInsValue" value="">
    <!-- ranged value -->
  </p>

</div>
