<div class="reflex" id="reflex2">
  <h4>MIB Codes <small>Reflex 2<small></h4>

  <!-- Medical MIB Code -->
  <p>Have you seen a medical professional for any of the questions asked previously?<br>
    <input type="radio" name="2-1" reference="medicalCondition">
    <label>Yes</label>
    <input type="radio" name="2-1" reference="medicalCondition">
    <label>No</label>
  </p>
  <!-- Criminal MIB Code -->
  <p>Have you been convicted of a felony?<br>
    <input type="radio" name="2-2" reference="legalCondition" value="">
    <label>No</label>
    <!-- Next question -->
    <input type="radio" name="2-2" reference="legalCondition" value="">
    <label>Yes</label>
    <!-- Decline -->
    <input type="radio" name="2-2" reference="legalCondition" value="">
    <label>Unknown</label>
    <!-- Decline -->
  </p>
  <p>Have you been convicted of a misdemeanor?<br>
    <input type="radio" name="2-3" reference="legalConditionMisdemeanor" value="">
    <label>No</label>
    <!-- Incomplete and send MIB AUD letter -->
    <input type="radio" name="2-3" reference="legalConditionMisdemeanor" value="">
    <label>Yes</label>
    <!-- Accept -->
    <input type="radio" name="2-3" reference="legalConditionMisdemeanor" value="">
    <label>Unknown</label>
    <!-- Accept -->
  </p>

</div>
