<div class="reflex" id="reflex1">
  <h4>In Force Policies <small>Reflex 1</small></h4>

  <div class="question" reference="currentInsValue">
    <p>What is the total amount of all coverage in force or pending?</p>
    <input type="text" value="">
    <!-- ranged value -->
  </div>

  <div class="question" reference="replacementInsExists">
    <p>Is the coverage being applied for intended to replace or change any existing life insurance or annuity contract?</p>
    <input type="radio" name="replacementInsExists" value="yes">
    <label>Yes</label>
    <!-- Next question -->
    <input type="radio" name="replacementInsExists" value="no">
    <label>No</label>
    <!-- Stop -->
  </div>

  <div class="question" reference="replacementInsValue">
    <p>What amount is being replaced?</p>
    <input type="text" value="">
    <!-- ranged value -->
  </div>

</div>
