h1, h2, h3, h4, h5, h6, li, p {
	hyphens: none;
}

h1 {
  color: #4796c6;
  small {
    color: #4796c6;
    font-size: 1.6rem;
    line-height: 1em;
  }
}

h2 {
  margin-bottom: .4rem;
  margin-top: 1.6rem;
}

h4 {
  margin-bottom: 0.4rem;
  margin-top: 1.2rem;
}

p {
  margin-bottom: 1rem;
}

.header {
  img {
    display: inline-block;
  }
}

.wrapper.footer {
	background: #f4f6f8;

	p {
		font-size: 11px;
	}
}

.callout {
	p {
		margin-bottom: 10px;
	}
}

span.dynamic {
	display: block;
	display: block;
	padding: 0 4px;
	border: 1px dotted orange;
	color: orange;
}

label {
	margin-right: 5px;
}

.form {
	margin-bottom: 16px;
	table-layout: fixed;

	td {
		position: relative;
		padding: 2px 5px;
		border: 1px solid black;
		color: #ccc;

		span.units {
			position: absolute;
			right: 5px;
			bottom: 2px;
			float: right;
		}
	}

	.spacer-cell {
		border: 0;
	}
}

ol, ul {
	margin-left: 1rem;

	-webkit-padding-start: 0 !important;
}

hr {
	border-style: none;
	border-top: 1px solid #ccc;
}


// REFLEXIVES //////////////////////////////////////////////////////////////////

div.reflex {
  border-left: 1px solid orange;
  padding: 10px 15px 5px;
  margin: 10px 0;
}

.reflex {
  h4{
    margin-top: 0;
  }
  small {
    // display: none;
  }
}

#reflex1-1{

}

.height {
  display:flex;
  span {
    flex:1;
  }
}

.radio {
  margin-right: 0;
}

.show {
  display: block;
}

tr.show {
  display: table-row;
}

.reinstatement-hidden, .hide {
  display: block;
}
