h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
	hyphens: none;
}

h1 {
  color: #4796c6;
  small {
    color: #4796c6;
    font-size: 1.6rem;
    line-height: 1em;
  }
}

p {
  margin-bottom: 1rem;
}

.header {
  img {
    display: inline-block;
  }
}

.wrapper.footer {
	background: #f4f6f8;

	p {
		font-size: 11px;
	}
}

.callout {
	p {
		margin-bottom: 10px;
	}
}

span.dynamic {
<<<<<<< HEAD
	display: block;
=======
	border: 1px dotted orange;
>>>>>>> 07dd599359f9685843cb64024aa1df4a48630bc5
	padding: 0 4px;
	border: 1px dotted orange;
	color: orange;
	display: block;
}

label {
	margin-right: 5px;
}

.form {
	margin-bottom: 16px;
	table-layout: fixed;

	td {
		position: relative;
		padding: 2px 5px;
		border: 1px solid black;
<<<<<<< HEAD
		color: #ccc;

		span.units {
			position: absolute;
			right: 5px;
			bottom: 2px;
			float: right;
=======
		padding: 2px 5px;
		position: relative;
		color: #ccc;

		span.units {
			float: right;
			position: absolute;
			right: 5px;
			bottom: 2px;
>>>>>>> 07dd599359f9685843cb64024aa1df4a48630bc5
		}
	}

	.spacer-cell {
		border: 0;
	}
}

ol,
ul {
<<<<<<< HEAD
	margin-left: 1rem;

	-webkit-padding-start: 0 !important;
=======
	-webkit-padding-start: 0 !important;
	margin-left: 1rem;
>>>>>>> 07dd599359f9685843cb64024aa1df4a48630bc5
}

hr {
	border-style: none;
	border-top: 1px solid #ccc;
}
