<div class="reflex" id="reflex3">
  <h4>International Travel <small>Reflex 3</small></h4>

  <div class="question" reference="travel">
    <p>Which countries do you plan on traveling to?</p>
    <input type="text" name="travel" value="">
    <!-- Any countries on Decline list: Decline -->
    <!-- Acceptable countries: Reflex question, then next question -->
  </div>

  <div class="question" reference="travelInternational">
    <p>Do you plan to travel for longer than 30 consecutive days or greater than 90 days in total?</p>
    <input type="radio" name="travelInternational"><label>Yes</label>
    <!-- Decline -->
    <input type="radio" name="travelInternational"><label>No</label>
    <!-- Advance -->
  </div>

</div>
