<div class="reflex" id="reflex1-1">
  <h4>Your Alcohol Use <small>Reflex 1.1</small></h4>

  <div class="question" reference="alcoholAbuseTreatment">
    <p>In the past 10 years, have you been medically treated, advised to get treatment, or attended a support group for alcohol abuse?</p>
    <input type="radio" name="alcoholAbuseTreatment" value="yes"><label>Yes</label>
    <!-- Decline -->
    <input type="radio" name="alcoholAbuseTreatment" value="no"><label>No</label>
    <input type="radio" name="alcoholAbuseTreatment" value="unknown"><label>Unknown</label>
    <!-- Next Question -->
  </div>

  <div class="question" reference="alcoholAdvice">
    <p>In the past 2 years, have you been advised by a medical professional to reduce your alcohol use?</p>
    <input type="radio" name="alcoholAdvice" value="yes"><label>Yes</label>
    <!-- Decline -->
    <input type="radio" name="alcoholAdvice" value="no"><label>No</label>
    <input type="radio" name="alcoholAdvice" value="unknown"><label>Unknown</label>
    <!-- Next Question -->
  </div>

  <div class="question" reference="drink">
    <p>Do you currently drink alcohol?</p>
    <input type="radio" name="drink" value="true"><label>Yes</label>
    <!-- Next Question -->
    <input type="radio" name="drink" value="false"><label>No</label>
    <!-- Accept -->
  </div>

  <div class="question" reference="howManyDrinks">
    <p>How many drinks do you typically consume per day?</p>
    <input type="radio" name="howManyDrinks" value="0, 1, 2, 3"><label>0-3</label>
    <!-- Next Question -->
    <input type="radio" name="howManyDrinks" value="4, 5"><label>4+</label>
    <!-- Decline -->
  </div>

  <div class="question" reference="excessPerMonthDrinks">
    <p>How many times per month do you consume more than 6 drinks in a day?</p>
    <input type="radio" name="excessPerMonthDrinks" value="0"><label>0</label>
    <!-- Accept -->
    <input type="radio" name="excessPerMonthDrinks" value="1, 2, 3, 4, 5"><label>1+</label>
    <!-- Decline -->
  </div>
</div>
