<div class="reflex" id="reflex1.3">
  <h4>Chest Pain <small>Reflex 1.3<small></h4>

  <p>Was your chest pain medically diagnosed as heartburn, indigestion, or a muscle strain?<br>
    <input type="radio" name="chestPainDiagnosed" reference="chestPainDiagnosed" value="yes">
    <label>Yes</label>
    <!-- Accept -->
    <input type="radio" name="chestPainDiagnosed" reference="chestPainDiagnosed" value="no-unknown">
    <label>No, unknown</label>
    <!-- Next question -->
  </p>
  <p>Was your chest pain medically diagnosed as angina or cardiac chest pain?<br>
    <input type="radio" name="chestPainAngina" reference="chestPainAngina" value="yes">
    <label>Yes</label>
    <!-- Decline -->
    <input type="radio" name="chestPainAngina" reference="chestPainAngina" value="no">
    <label>No</label>
    <!-- Next question -->
  </p>
  <p>Were you prescribed Nitroglycerin by a medical professional for your chest pain?<br>
    <input type="radio" name="chestPainNitro" reference="chestPainNitro" value="yes-unknown">
    <label>Yes, unknown</label>
    <!-- Decline -->
    <input type="radio" name="chestPainNitro" reference="chestPainNitro" value="no">
    <label>No</label>
    <!-- Next question -->
  </p>
  <p>When did you have your last episode of chest pain?<br>
    <input type="radio" name="chestPainLast" reference="chestPainLast" value="<=6">
    <label>0-6 months</label>
    <!-- Decline -->
    <input type="radio" name="chestPainLast" reference="chestPainLast" value=">6">
    <label>>6 months</label>
    <!-- Accept -->
  </p>

</div>
