<div class="reflex" id="reflex5">
  <h4>Medications <small>Reflex 5<small></h4>

  <p>In the past 90 days, has your medical professional increased any of your medications (other than for cholesterol treatment)?<br>
    <input type="radio" name="medicationIncreased90Days" reference="medicationIncreased90Days" value=""><label>Yes</label>
    <!-- Decline -->
    <input type="radio" name="medicationIncreased90Days" reference="medicationIncreased90Days" value=""><label>No</label>
    <!-- Accept -->
  </p>

</div>
