<div class="reflex" id="reflex4">
  <h4>International Travel <small>Reflex 4<small></h4>

  <p>Which countries do you plan on traveling to?<br>
    <input type="text" name="4-1" value="">
    <!-- Any countries on Decline list: Decline -->
    <!-- Acceptable countries: Reflex question, then next question -->
  </p>
  <p>Do you plan to travel for longer than 30 consecutive days or greater than 90 days in total?<br>
    <input type="radio" name="4-2">
    <label>Yes</label>
    <!-- Decline -->
    <input type="radio" name="4-2">
    <label>No</label>
    <!-- Advance -->
  </p>

</div>
