<div class="reflex" id="reflex1-1">
  <h4>Your Alcohol Use <small>Reflex 1.1<small></h4>
  <p>In the past 10 years, have you been medically treated, advised to get treatment, or attended a support group for alcohol abuse?<br>
    <input type="radio" name="alcoholAbuseTreatment" reference="alcoholAbuseTreatment" value="yes"><label>Yes</label>
    <!-- Decline -->
    <input type="radio" name="alcoholAbuseTreatment" reference="alcoholAbuseTreatment" value="no"><label>No</label>
    <input type="radio" name="alcoholAbuseTreatment" reference="alcoholAbuseTreatment" value="unknown"><label>Unknown</label>
    <!-- Next Question -->
  </p>
  <p>In the past 2 years, have you been advised by a medical professional to reduce your alcohol use?<br>
    <input type="radio" name="alcoholAdvice" reference="alcoholAdvice" value="yes"><label>Yes</label>
    <!-- Decline -->
    <input type="radio" name="alcoholAdvice" reference="alcoholAdvice" value="no"><label>No</label>
    <input type="radio" name="alcoholAdvice" reference="alcoholAdvice" value="unknown"><label>Unknown</label>
    <!-- Next Question -->
  </p>
  <p>Do you currently drink alcohol?<br>
    <input type="radio" name="drink" reference="drink" value="true"><label>Yes</label>
    <!-- Next Question -->
    <input type="radio" name="drink" reference="drink" value="false"><label>No</label>
    <!-- Accept -->
  </p>
  <p>How many drinks do you typically consume per day?<br>
    <input type="radio" name="howManyDrinks" reference="howManyDrinks" value="0, 1, 2, 3"><label>0-3</label>
    <!-- Next Question -->
    <input type="radio" name="howManyDrinks" reference="howManyDrinks" value="4, 5"><label>4+</label>
    <!-- Decline -->
  </p>
  <p>How many times per month do you consume more than 6 drinks in a day?<br>
    <input type="radio" name="excessPerMonthDrinks" reference="excessPerMonthDrinks" value="0"><label>0</label>
    <!-- Accept -->
    <input type="radio" name="excessPerMonthDrinks" reference="excessPerMonthDrinks" value="1, 2, 3, 4, 5"><label>1+</label>
    <!-- Decline -->
  </p>

</div>
