<div class="reflex" id="reflex1.3">
  <h4>Chest Pain <small>Reflex 1.3</small></h4>

    <div class="question" reference="chestPainDiagnosed">
      <p>Was your chest pain medically diagnosed as heartburn, indigestion, or a muscle strain?</p>
      <input type="radio" name="chestPainDiagnosed" value="yes"><label>Yes</label>
      <!-- Accept -->
      <input type="radio" name="chestPainDiagnosed" value="no"><label>No</label>
      <input type="radio" name="chestPainDiagnosed" value="unknown"><label>Unknown</label>
      <!-- Next question -->
    </div>

    <div class="question" reference="chestPainAngina">
      <p>Was your chest pain medically diagnosed as angina or cardiac chest pain?</p>
      <input type="radio" name="chestPainAngina" value="yes"><label>Yes</label>
      <!-- Decline -->
      <input type="radio" name="chestPainAngina" value="no"><label>No</label>
      <input type="radio" name="chestPainAngina" value="unknown"><label>Unknown</label>
      <!-- Next question -->
    </div>

    <div class="question" reference="chestPainNitro">
      <p>Were you prescribed Nitroglycerin by a medical professional for your chest pain?</p>
      <input type="radio" name="chestPainNitro" value="yes"><label>Yes</label>
      <!-- Decline -->
      <input type="radio" name="chestPainNitro" value="no"><label>No</label>
      <input type="radio" name="chestPainNitro" value="unknown"><label>Unknown</label>
      <!-- Next question -->
    </div>

    <div class="question" reference="chestPainLast">
      <p>When did you have your last episode of chest pain?</p>
      <input type="radio" name="chestPainLast" value="0, 1"><label>0-6 months</label>
      <!-- Decline -->
      <input type="radio" name="chestPainLast" value="2, 3, 4, 5"><label>>6 months</label>
      <!-- Accept -->
    </div>

  </div>
