<div class="reflex" id="reflex1.4">
  <h4>TIA Stroke <small>Reflex 1.4</small></h4>

    <!-- System Edit:
    Age <40
    Decline
    Age 40 and <up></up>
    Next question
  -->
  <div class="question" reference="strokeTiaDiagnosed">
    <p>What were you medically diagnosed with?</p>
    <input type="radio" name="strokeTiaDiagnosed" value="0"><label>Stroke</label>
    <!-- Decline -->
    <input type="radio" name="strokeTiaDiagnosed" value="1"><label>Mini-stroke or TIA</label>
    <!-- Next question -->
  </div>

  <div class="question" reference="strokeTiaCount">
    <p>How many mini-strokes or TIA's have you had?</p>
    <input type="radio" name="strokeTiaCount" value="1"><label>1</label>
    <!-- Next question -->
    <input type="radio" name="strokeTiaCount" value="2, 3, 4"><label>>1</label>
    <!-- Decline -->
  </div>

  <div class="question" reference="tiaLast">
    <p>How long ago did you have your TIA?</p>
    <input type="radio" name="tiaLast" value="0, 1, 2"><label>0-1 year ago</label>
    <!-- Decline -->
    <input type="radio" name="tiaLast" value="3"><label>Over a year ago</label>
    <!-- Next Question -->
  </div>

</div>
