<div class="reflex" id="reflex1-2">
  <h4>Diabetes <small>Reflex 1.2</small></h4>

  <div class="question" reference="diabetesFemaleGestation">
      <p>Were you medically diagnosed with gestational diabetes only?</p>
    <!-- only for female applicants -->
    <input type="radio" name="diabetesFemaleGestation" value="Yes"><label>Yes</label>
    <!-- Accept -->
    <input type="radio" name="diabetesFemaleGestation" value="No"><label>No</label>
    <!-- Decline -->
  </p>
  </div>

  <!-- System edit: Under age 40 Decline Age 40 or higher Next Question -->

  <div class="question" reference="prescribedInsulin">
      <p>In the past two years, have you been prescribed insulin by a medical professional?</p>
      <input type="radio" name="prescribedInsulin" value="yes"><label>Yes</label>
      <!-- Decline -->
      <input type="radio" name="prescribedInsulin" value="no"><label>No</label>
      <input type="radio" name="prescribedInsulin" value="unknown"><label>Unknown</label>
      <!-- Next Question -->
  </div>

  <div class="question" reference="diabetesHospitalized2Years">
      <p>In the past 2 years, have you been hospitalized for diabetes?</p>
      <input type="radio" name="diabetesHospitalized2Years" value="yes"><label>Yes</label>
      <!-- Decline -->
      <input type="radio" name="diabetesHospitalized2Years" value="no"><label>No</label>
      <!-- Next question -->
  </div>

  <div class="question" reference="seeDrDiabetes">
      <p>How many times per year do you typically see a medical professional for this condition?</p>
      <input type="radio" name="seeDrDiabetes" value="0"><label>0</label>
      <!-- Decline	// Needs to be programmed for a ranged value -->
      <input type="radio" name="seeDrDiabetes" value="1, 2, 3, 4"><label>1-4</label>
      <!-- Next question -->
      <input type="radio" name="seeDrDiabetes" value="5+"><label>5+</label>
      <!-- Decline -->
  </div>

  <div class="question" reference="kidneyDisease">
      <p>In the past two years, have you been medically diagnosed or medically treated for kidney disease (including protein or microalbumin in the urine) or any type of skin ulcers?</p>
          <input type="radio" name="kidneyDisease" value="yes"><label>Yes</label>
          <!-- Decline -->
          <input type="radio" name="kidneyDisease" value="no"><label>No</label>
          <input type="radio" name="kidneyDisease" value="unknown"><label>Unknown</label>
          <!-- Next question -->
  </div>

  <div class="question" reference="hemoglobin">
      <p>What was your most recent Hemoglobin A1c or Glycohemoglobin reading?</p>
      <input type="radio" name="hemoglobin" reference="" value="unknown"><label>Unknown</label>
      <!-- Decline // This needs to be programmed for a ranged value -->
      <input type="radio" name="hemoglobin" reference="hemoglobin" value="0, 1, 2, 3"><label> 8.0 or below</label>
      <!-- Accept	// with these rules listed below -->
      <input type="radio" name="hemoglobin" reference="hemoglobin" value="4"><label>> 8.0</label>
      <!-- Decline -->
  </div>

  <div class="question" reference="ageDiabetesDiagnosed">
      <p>How old were you when diabetes was diagnosed?</p>
    <input type="radio" name="ageDiabetesDiagnosed" reference="" value="0, 1, 2"><label>< 40, unknown</label>
    <!-- Decline -->
    <input type="radio" name="ageDiabetesDiagnosed" reference="ageDiabetesDiagnosed" value="3, 4"><label>41+</label>
    <!-- Accept -->
  </div>






</div>
