<wrapper class="footer">
  <container>
    <row>
      <columns large="12">
        <spacer size="24"></spacer>
        <p>North American Company for Life and Health Insurance<br>One Sammons Plaza &#x2022; Sioux Falls, SD 57193<br>Phone: (877) 872-0757 &#x2022; Fax: (877) 208-6136 &#x2022; www.NorthAmericanCompany.com</p>
        <p>Administered for the Company by Bestow Agency LLC, in CA dba Bestow Insurance Services<br>Bestow Agency LLC, <br>1920 McKinney Avenue, Dallas TX 75201<br>Phone: (877) 872-0757 &#x2022; Fax: (877) 208-6136 &#x2022;
        hellowbestow.com</p>
      </columns>
      <spacer size="24"></spacer>

    </row>
  </container>
</wrapper>
